/* pulled colorful buttons from: https://codepen.io/kocsten/pen/rggjXp */

html,
h1 {
    text-align: center;
    margin-top: -20px;
}

body {
    background:white
    color: white; /* Spencer: added in */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* Spencer: added in */
}

.jumbotron {
    background-color: #007bff;
    height: 175px; 
    color:white
}

.nav-link {
    background-color:white;

}

.btn {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color:#007bff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-top: 10px; /* Spencer: added this in to create more separation */
}

.btn:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.btn:active {
    color: #000
}

.btn:active:after {
    background: transparent;
}

.btn:hover:before {
    opacity: 1;
}

.btn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}
#instructions {color: #007bff}
label {color:#007bff}
button {color:#007bff}
footer {text-align: center;
color:#007bff }
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

