/* pulled from: https://codepen.io/kocsten/pen/rggjXp */

html,
body {
    background;
    color: white; /* added in */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* added in */
}
.jumbotron {background-color: #007bff;}

.form-group {color:#007bff;
width:25%}


